@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin: 0%;
}

#server-logo { width: 125px; height: auto; }

#slide-main {

    background-image: url(img/slider1.jpg);
    background-size: cover;

    height: 640px;
}

#main-container {

    padding-top: 200px;

    min-width: 200px;
    min-height: 640px;

    p, h1 {
        text-shadow: 1px 1px 2px black, 0 0 1em navy, 0 0 0.2em navy;
    }
}

#second-container {

    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 25px;

    min-width: 200px;
    min-height: 640px;

    padding-top: 120px;
    max-width: 400px;
    min-height: 500px;
    box-shadow: 0px 0px px black;

}

#card-logo {  padding-bottom: 20px; width: 150px; height: auto; }



.progress {
    
    margin-bottom: 5px;
}

#third-section {

    background-image: url(img/slider2.jpg);
    background-size: cover;
    height: 640px;
}
